body {
  background: linear-gradient(
    to right,
    rgb(246, 150, 150),
    rgb(245, 190, 88),
    rgb(245, 245, 157),
    rgb(164, 243, 164),
    rgb(164, 164, 244),
    rgb(210, 165, 243),
    rgb(245, 164, 245)
  );
  padding: 15px;
}

.search-form {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.text-input {
  width: 300px;
  height: 30px;
  padding: 5px 10px;
  font-size: 17px;
  color: rgb(58, 57, 57);
  border-radius: 5px;
  border: none;
  background-color: rgb(206, 243, 206);
}

.text-input:focus,
.text-input:hover {
  outline: rgb(206, 243, 206);
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.search-btn {
  position: relative;
  padding: 5px 10px;
  height: 30px;
  font-size: 16px;
  color: rgb(58, 57, 57);
  border-radius: 5px;
  border: none;
  background-color: rgb(126, 126, 243);
  transition: box-shadow 300ms ease-in-out, filter 350ms ease-in-out;
}

.search-btn:hover {
  color: whitesmoke;
  box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  width: calc((100% - 48px) / 3);
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.62);
  margin-bottom: 10px;
  border-radius: 5px;
}

.photo-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.image {
  transition: transform 350ms ease-in-out, filter 350ms ease-in-out;
}

.image:hover {
  transform: scale(1.02);
}

img {
  display: block;
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 5px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  gap: 20px;
  color: rgb(58, 57, 57);
}

.info-item {
  display: flex;
  flex-direction: column;
}
